# Water test
--

In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import urllib.request

import time
from scipy.stats import linregress

In [67]:
#import datafile from CSV sample file and name as a variable
ar_data_import = "../CA_Water_Analysis/Ar-Water-Lab-Data.csv"
ar_data = pd.read_csv(ar_data_import)

#print the new variable
ar_data.head()

,station_id,station_name,full_station_name,station_number,station_type,latitude,longitude,status,county_name,sample_code,sample_date,sample_depth,sample_depth_units,parameter,result,reporting_limit,units,method_name
0,13460,03S01E11H001M,03S01E11H001M,03S01E11H001M,Groundwater,37.6881,121.8270,Review Status Unknown,Alameda,WDIS_0309039,07/11/1975 11:30,NaN,Feet,Total Arsenic,0.0,0.001,mg/L,"Std Method 3500-As, C"
1,13494,03S02E07P003M,03S02E07P003M,03S02E07P003M,Groundwater,37.6809,121.7996,Review Status Unknown,Alameda,WDIS_0003482,02/12/1975 00:00,NaN,Feet,Total Arsenic,0.0,0.001,mg/L,UnkMod Arsenic
2,13494,03S02E07P003M,03S02E07P003M,03S02E07P003M,Groundwater,37.6809,121.7996,Review Status Unknown,Alameda,WDIS_0003485,03/05/1980 11:00,NaN,Feet,Total Arsenic,0.0,0.001,mg/L,UnkMod Arsenic
3,13494,03S02E07P003M,03S02E07P003M,03S02E07P003M,Groundwater,37.6809,121.7996,Review Status Unknown,Alameda,WDIS_0309048,04/22/1986 13:35,NaN,Feet,Total Arsenic,0.0,0.001,mg/L,UnkMod Arsenic
4,13494,03S02E07P003M,03S02E07P003M,03S02E07P003M,Groundwater,37.6809,121.7996,Review Status Unknown,Alameda,WDIS_0309041,05/06/1974 00:00,NaN,Feet,Total Arsenic,0.0,0.001,mg/L,UnkMod Arsenic

In [31]:
#split cell to correct for time
for idx, row in ar_data.iterrows(): 
    year=row['sample_date'].split(' ')[0].split('/')[-1]
    if int(year)>22: 
        date=row['sample_date'].split(' ')[0]
        time=row['sample_date'].split(' ')[-1]
        new_date=date.split('/')[:-1]
        new_date=new_date+[f'19{year}']
        #print('/'.join(new_date))
        new_date_str='/'.join(new_date)
    else: 
        date=row['sample_date'].split(' ')[0]
        time=row['sample_date'].split(' ')[-1]
        new_date=date.split('/')[:-1]
        new_date=new_date+[f'20{year}']
        #print('/'.join(new_date))
        new_date_str='/'.join(new_date)
    ar_data.loc[idx, 'sample_date']=new_date_str+' '+time

In [36]:
#count the number of counties in the dataframe

In [37]:
#print new dataframe
#ar_data['sample_date'] = pd.to_datetime(ar_data['sample_date'])
#ar_data = ar_data.sort_values(by='sample_date')
#ar_data.head()

#describe the dataset using statistical measures

ar_data.describe()

,station_id,latitude,longitude,sample_depth,result,reporting_limit
count,45996.000000,42461.000000,42461.000000,33054.000000,45245.000000,45996.000000
mean,13724.767393,38.196653,119.085959,5.120181,1.208505,0.055096
std,18706.523322,2.165539,21.737554,37.687217,28.779880,0.179015
min,1.000000,32.606200,-121.482000,0.000000,0.000000,0.000200
25%,422.000000,37.066450,120.301500,0.150000,0.000000,0.001000
50%,2438.000000,38.760500,121.554300,0.300000,0.002000,0.001000
75%,32749.000000,39.821300,122.051200,1.000000,0.511000,0.027000
max,47928.000000,42.001700,124.366400,1210.000000,5880.000000,5.000000

In [43]:
#create a dataframe for counties
county_df = ar_data.loc[(ar_data["county_name"] == "Los Angeles") |
                        (ar_data["county_name"] == "San Diego") |
                        (ar_data["county_name"] == "Kern")|
                        (ar_data["county_name"] == "Orange")]


#plot results for presence a substance county samples by year
#Kern = county_df.loc[county_df["county_name"] == "Orange"]
#plt.plot(LA["sample_date"], LA["result"])

#plot the results two counties

#print new dataframe
#county_df

In [4]:
#sort by the total amount of arsenic found 
#sorted_ar_df = ar_data.sort_values(['result'], ascending=False)
#create a new dataframe from top offenders
#top_offender_df = sorted_ar_df.head(100)

#sorted_top_offender_df = top_offender_df.sort_values(['station_type'], ascending=False)

#sorted_top_offender_df

In [56]:
#count number of entries by county

total_counties = sorted_ar_df['county_name'].unique().size
station_summary = sorted_ar_df.groupby(['county_name']).count()
sorted_station_summary = station_summary.sort_values(['county_name'], ascending=False)
#sorted_station_summary

total_counties

57

In [66]:
#create a list of counties
countys = ['Sacramento', 'Kern', 'Butte', 'Lassen', 'Shasta', 'Tehama', 'Modoc', 'Glenn',
 'Colusa', 'Alpine', 'Humboldt', 'Mendocino','Lake','Trinity', 'Siskiyou',
 'Sutter', 'Plumas', 'Mono', 'Los Angeles', 'Yolo', 'San Bernardino', 'Sierra',
 'Alameda', 'Merced', 'Solano' ,'Contra Costa', 'Kings', 'Del Norte',
 'Riverside', 'San Joaquin', 'Yuba', 'Tulare', 'Inyo', 'Imperial', 'El Dorado',
 'Santa Cruz', 'Napa', 'Monterey', 'Fresno', 'San Diego', 'Calaveras', 'Amador',
 'Sonoma', 'Santa Clara', 'Tuolumne', 'Placer', 'Ventura', 'San Luis Obispo',
 'Santa Barbara', 'Nevada', 'Orange', 'Stanislaus', 'Madera', 'San Mateo',
 'San Francisco', 'San Benito', 'Mariposa']

for index, county in enumerate(countys):
    print(index, county)

0 Sacramento
1 Kern
2 Butte
3 Lassen
4 Shasta
5 Tehama
6 Modoc
7 Glenn
8 Colusa
9 Alpine
10 Humboldt
11 Mendocino
12 Lake
13 Trinity
14 Siskiyou
15 Sutter
16 Plumas
17 Mono
18 Los Angeles
19 Yolo
20 San Bernardino
21 Sierra
22 Alameda
23 Merced
24 Solano
25 Contra Costa
26 Kings
27 Del Norte
28 Riverside
29 San Joaquin
30 Yuba
31 Tulare
32 Inyo
33 Imperial
34 El Dorado
35 Santa Cruz
36 Napa
37 Monterey
38 Fresno
39 San Diego
40 Calaveras
41 Amador
42 Sonoma
43 Santa Clara
44 Tuolumne
45 Placer
46 Ventura
47 San Luis Obispo
48 Santa Barbara
49 Nevada
50 Orange
51 Stanislaus
52 Madera
53 San Mateo
54 San Francisco
55 San Benito
56 Mariposa